<div style="margin: 5em">

  <form>


    <div class="form-group">
      <label for="id">Account id</label>
      <input type="number" class="form-control" id="id"  placeholder="Enter id">
    </div>
    <div class="form-group">
      <label for="type">Account type</label>
      <input type="text" class="form-control" id="type" placeholder="Enter account type">
    </div>
    <div class="form-group">
      <label for="surname">Surname</label>
      <input type="text" class="form-control" id="surname" placeholder="Enter surname">
    </div>
    <div class="form-group">
      <label for="creationDate">Creation date</label>
      <input type="date" class="form-control" id="creationDate" placeholder="Enter date of birth">
    </div>
    <div class="form-group">
      <label for="useri">Select User</label>
      <div class="input-group mb-3">
        <select class="form-select" id="useri" aria-label="Example select with button addon">
          <option selected>Choose...</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
        </select>
      </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>

</div>

<div style="margin: 5em">
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">First</th>
    <th scope="col">Last</th>
    <th scope="col">Handle</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">1</th>
    <td>Mark</td>
    <td>Otto</td>
    <td>@mdo</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Jacob</td>
    <td>Thornton</td>
    <td>@fat</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td colspan="2">Larry the Bird</td>
    <td>@twitter</td>
  </tr>
  </tbody>
</table>
</div>
